<div class="sidenav">
    <a href="/">Dashboard</a>
    <a href="/stocks">Stocks and ETFs</a>
    <a href="/bonds">Bonds</a>
    <a href="/derivatives">Derivatives</a>
    <a href="/savings">Savings</a>
</div>